@page "/todo"
@using System.Collections.ObjectModel
@using System.Threading
@using Microsoft.Extensions.Configuration


<h3>Todo, Done:@todos.Count(todo => !todo.IsDone)</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone"/>
            <input @bind="todo.Title"/>
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" @onkeypress="addTodo"/>
<button @onclick="addTodo">Add todo</button>

@code {
    private IList<TodoItem> todos = new List<TodoItem>();
    private string newTodo;


    private void addTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem {Title = newTodo});
            newTodo = string.Empty;
        }
    }
}
